@model GameStore.Models.DevelopersViewModel
<div class="container">
  
         
         <div class = "single-shop-product">
              <h1>Разработчики</h1>
             <a class="add_to_cart_button"asp-area="Admin" asp-controller="Developers" asp-action="Edit" >Добавить Нового разработчика</a>
         </div>
             <form method="get">
            <div class="form-group">
                <input name="name" class="form-control" placeholder="Введите наименование разработчика"/>
            </div>
        </form>
            <table>
               <thead>
                 <tr class = "tableDev">
                    <td class = "tableDev"><b>ID:</b></td>
                    <td class = "tableDev"><b>Наименование:</b></td>
                    <td class = "tableDev"><b>Управление</b></td>
                 </tr>
             </thead>
             <tbody> 
             @if (Model.developers.Count() > 0)
             {
                 @foreach (var obj in Model.developers)
                 {
                     <tr class = "tableDev">
                         <td class = "tableDev">@obj.id</td>
                         <td class = "tableDev">@obj.nameDeveloper</td>
                         <td class = "tableDev">
                             <a class="control_buttons"asp-area="Admin" asp-controller="Developers" asp-action="Edit" asp-route-id=@obj.id >Изменить</a>
                             <a class="control_buttons"asp-area="Admin" asp-controller="Developers" asp-action="Delete" asp-route-id=@obj.id >Удалить</a>
                         </td>
                     </tr>
                 }
             }          
            </tbody>
            </table>
 </div>
 
