<div class="container">
<h1><b>ЗАМЕТКИ</b></h1>
<h3>Размер картинок для постера игр:195px на 240px</h3>
<h3>Размер картинок для слайдера на главном экране:1163px на 165px</h3>
<h3>Размер картинок для скриншотов игры:1280px на 720px</h3>
 </div>
