<div class="container">
<h1><b>ЗАМЕТКИ</b></h1>
<h3>Размер картинок для постера игр:195px на 240px</h3>
<h3>Размер картинок для слайдера на главном экране:1163px на 165px</h3>
<h3>Размер картинок для скриншотов игры:1280px на 720px</h3>

    <a asp-area="admin" asp-controller="Home" asp-action="AllGames">AllGames</a>
    <a asp-area="admin" asp-controller="Home" asp-action="GameKey">GameKey</a>
    <a asp-area="admin" asp-controller="Home" asp-action="Developers">Developers</a>
    <a asp-area="admin" asp-controller="Home" asp-action="Ganres">Ganres</a>
    <a asp-area="admin" asp-controller="Home" asp-action="Platforms">Platforms</a>
    <a asp-area="admin" asp-controller="Home" asp-action="Shares">Shares</a>
    <a asp-area="admin" asp-controller="Home" asp-action="Users">Users</a>
    <a asp-area="admin" asp-controller="Home" asp-action="Basket">Baskets</a>
    <a asp-area="admin" asp-controller="Home" asp-action="Order">Orders</a>
 </div>
