<!-- mainmenu area -->
    <div class="mainmenu-area">
        <div class="container">
            <div class="row">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index">Главная</a></li>
                        <div class="dropdown">
                            <li class="dropbtn"><a asp-area="" asp-controller="Home" asp-action="AllGame">Каталог</a></li>
                            <div class="dropdown-content">
                              <a asp-area="" asp-controller="Home" asp-action="Action">Экшн</a>
                              <a href="#">Приключения</a>
                              <a href="#">RPG</a>
                              <a href="#">Симуляторы</a>
                              <a href="#">Спорт</a>
                              <a href="#">Гонки</a>
                              <a href="#">Казуал</a>
                            </div>
                        </div>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="Shares">Акции</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Support">Поддержка</a></li>
                    </ul>
                </div>  
               
            </div>
        </div>
    </div> 
    <!-- End mainmenu area -->