@model GameStore.Models.ResetPasswordViewModel
<section class="login spad">
       <div class="container">
<div class="col-lg-6">
    <div class="login__form">
        <h3>Восстановление пароля</h3>
        <form method="post"  asp-controller="Account" asp-action="ResetPassword" >
            <input asp-for="Code" type="hidden"/>
                   
             <div class="input__item">
                <input asp-for="Email" placeholder="Укажите свой Email"/>
                <span class="icon_mail"><i class="fa fa-user"></i></span>
            </div>
             <div class="input__item">
                <input asp-for="Password" placeholder="Укажите свой новый пароль"/>
                <span class="icon_mail"><i class="fa fa-key"></i></span>
            </div>
              <div class="input__item">
                <input asp-for="ConfirmPassword" placeholder="Повторите свой новый пароль"/>
                <span class="icon_mail"><i class="fa fa-key"></i></span>
            </div>
            
            <button type="submit" class="registrationBTN">Отправить</button>
            
        </form>
        <span asp-validation-for="Email" class = "spanErr"></span>
        <span asp-validation-for="Password" class = "spanErr"></span>
         <span asp-validation-for="ConfirmPassword" class = "spanErr"></span>
    </div> 
</div>
</div>
</section>