  <!--Area Sigle Page-->
<div class="container">
  <div class = "paymentArea">
    <div class="paymentMethodArea">
        <h2>Выберите способ оплаты</h2>
        <div class="paymentMethod">
            <div class="dropmethod"> 
                <button class="dropbtnmet">
                    <img src="~/images/6765/card.png">
                    <p>Банковская карта</p>
                </button>
                <div class="dropdownmeth-content">
                    <div class = "card">
                        <div class="cardArea">
                            <div class="NumderCardArea">
                                <p class="LableNuberCard">Номер карты:</p>
                                <input class="InputNumderCard" type="number" placeholder="5555 5555 5555 5555"/>
                            </div>
                            <div class ="CardTermAndCVC_Area">
                                <p class="LableCardTerm">Действительна до:</p>
                                <input class="InputCardTerm" type="text" placeholder="07/23" />
                                <p class="LableCVC">CVC:</p>
                                <input class="InputCVC" type="password" maxlength="3" />
                            </div>
                        </div>
                        <div class="price">
                                <p>Итого:  @Model.totalPrice BYN</p>
                            <form asp-controller="Orders" asp-action="Payment" method="post">
                                <button type="submit">Оплатить</button>
                            </form>
                        </div>           
                    </div>     
                </div>
            </div>
            
          
                <div class="dropmethod"> 
                    <button class="dropbtnmet">
                        <img src="~/images/6765/io.png">
                        <p>Юmoney</p>
                    </button>
                    <div class="dropdownmethIO-content">
                       
                            <form asp-controller="Orders" asp-action="Payment" method="post">
                                <button type="submit">Продолжить</button>
                            </form>                       
                    </div>
                </div>
               
            <div class="dropmethod"> 
                <button class="dropbtnmet">
                    <img src="~/images/6765/qiwi.png">
                    <p>QIWI</p>
                </button>
                <div class="dropdownmethIO-content">
                   
                        <form asp-controller="Orders" asp-action="Payment" method="post">
                            <input type="text" placeholder="Введите свой номер телефона" />
                            <button type="submit">Продолжить</button>
                        </form>                       
                </div>
            </div>
        </div>
       
    </div>
  </div>
</div>
<!--End Area single player-->
