<!-- slider area -->
    <div class="slider-area">
        	<!-- Slider -->
			<div class="block-slider block-slider4">
				<ul class="" id="bxslider-home4">
					<li>
						<img src="~/images/slider/2077.png" alt="Slide">
						<div class="caption-group">
							<h2 class="caption title">
								Cyberpunk 2077
							</h2>
							<h4 class="caption subtitle">Компьютерная ролевая игра, Квест, Action, Шутер, Файтинг</h4>
							<a class="caption button-radius" href="#"><span class="icon"></span>Купи сейчас от 34 BYN</a>
						</div>
					</li>
					<li><img src="~/images/slider/Wicher3.png" alt="Slide">
						<div class="caption-group">
							<h2 class="caption title">
								Ведьмак 3: Дикая Охота
							</h2>
							<h4 class="caption subtitle">Открытый мир, Action/RPG, Файтинг, Нелинейность</h4>
							<a class="caption button-radius" href="#"><span class="icon"></span>Купи сейчас от 12 BYN</a>
						</div>
					</li>
					<li><img src="~/images/slider/rdr2.png" alt="Slide">
						<div class="caption-group">
							<h2 class="caption title">
								Red Dead Redemption 2
							</h2>
							<h4 class="caption subtitle">Action-adventure, Шутер от третьего лица, Открытым мир</h4>
							<a class="caption button-radius" href="#"><span class="icon"></span>Купи сейчас от 34 BYN</a>
						</div>
					</li>
					<li><img src="~/images/slider/Fallout76.png" alt="Slide">
						<div class="caption-group">
						  <h2 class="caption title">
								Fallout 76
							</h2>
							<h4 class="caption subtitle">Action/RPG, Шутер, Квест</h4>
							<a class="caption button-radius" href="#"><span class="icon"></span>Купи сейчас от 64 BYN</a>
						</div>
					</li>
				</ul>
			</div>
			<!-- ./Slider -->
    </div> 
    <!-- End slider area -->