<!-- product-big-title-area -->
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2><b>Акции</b></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!-- End product-big-title-area -->
     
    
    <!-- single-product-area -->
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
       
                <!-- начала цикла -->
           <h1>В РАЗРАБОТКЕ ...</h1>
          
            <!-- конец цикла -->
            </div>
        </div>
    </div>
    <!-- End product-big-title-area -->